<div class="mainDiv">
  <div class="buttonDiv">
    <button class="btnAdd">
      ADD ITEM
    </button>
    <button class="btnInfo" (click)="goInfo()">
      INFO
    </button>
  </div>
  <div class="formArea">
    <h1 class="title">Restaurant List</h1>
    <form class="formForm">
      <input class="formInput" type="text" id="searchInfo" name="searchInfo" placeholder="SEARCH">
      <button class="formBtn" type="submit">SEARCH</button>
    </form>
  </div>
  <div class="itemArea">
    <p>items go here</p>
  </div>
</div>