<div class="mainDiv">
  <div class="buttonDiv">
    <button class="btnAdd">
      ADD ITEM
    </button>
    <button class="btnInfo" (click)="goInfo()">
      INFO
    </button>
  </div>
  <div class="formArea">
    <h1 class="title">Restaurant List</h1>
    <form class="formForm">
      <input class="formInput" type="text" id="searchInfo" name="searchInfo" placeholder="SEARCH">
      <button class="formBtn" type="submit">SEARCH</button>
    </form>
  </div>
  <div class="itemArea">
    <ul *ngFor="let rest of allRestaurants" >
      <li (click)="goRestaurant(rest)">{{rest.name}}    <span [ngSwitch]="true">
        <div *ngSwitchCase="rest.rating === '1'"><ion-icon name="star"></ion-icon></div>
        <div *ngSwitchCase="rest.rating === '2'"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
        <div *ngSwitchCase="rest.rating === '3'"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
        <div *ngSwitchCase="rest.rating === '4'"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
        <div *ngSwitchCase="rest.rating === '5'"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>
      </span></li>
    </ul>
  </div>
</div>