<div class="mainDiv">
  <div class="buttonDiv">
    <button class="btn btn-danger" (click)="goBack()">BACK</button>
    <button class="btn btn-warning">EDIT</button>
  </div>
  <div class="itemArea">
    <h2>VIEW RESTAURANT INFO</h2>
    <div>
      <ul>
        <li *ngIf="curRestaurant != null">
          <div>
            <label>Restaurant Name: </label>
            <h3 class="info">{{ curRestaurant.name }}</h3>
          </div>
          <div>
            <label>Restaurant Location: </label>
            <h3 class="info">{{ curRestaurant.location }}</h3>
          </div>
          <div>
            <label>Restaurant Description: </label>
            <h3 class="info">{{ curRestaurant.description }}</h3>
          </div>
          <div>
            <label>Restaurant Tags: </label>
            <h3 class="info">{{ curRestaurant.tags }}</h3>
          </div>
          <div>
            <label>Restaurant Rating: </label>
            <h3 class="info">{{ curRestaurant.rating }}</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
