<div class="mainDiv">
  <div class="btnArea">
   
    <button class="btn btn-danger" (click)="goMain()">BACK</button>
  </div>
  <div class="infoTitle">
    <h1>OUR TEAM:</h1>
  </div>
  <div class="infoContainer">
    <div class="info">
      <h3><ion-icon name="person-outline"></ion-icon>Elijah Thomas</h3>
    </div>
    <div class="info">
      <h3><ion-icon name="person-outline"></ion-icon>Harsh Patel</h3>
    </div>
    <div class="info">
      <h3><ion-icon name="person-outline"></ion-icon>Rafaela Kodhima</h3>
    </div>
  </div>
</div>
